/* == Desktop == */
@font-face {
  font-family: "customFont";
  src: url("customFont/Ubuntu-R.ttf"); /* https://design.ubuntu.com/font/ */
}

html {
  font-family: "customFont", "Ubuntu-R", serif;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  display: grid;

  grid-template-columns: 200px 1fr;

  margin: 0;

  background: #aab2b5;
}

nav {
  position: relative;
  height: 100vh;

  background: rgb(66, 74, 77);
  color: rgb(222, 222, 222);

  box-shadow: 10px 0 10px rgba(0,0,0,0.25);
}

nav ul {
  list-style-type: none;

  margin: 5%;
  margin-right: 20px;
  padding: 0;
}

nav ul li {
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;

  font-family: "customFont", "Ubuntu-R", serif;
  font-size: 25px;

  cursor: pointer;
  user-select: none;
}

nav ul li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

main {
  width: 100%;
  max-width: 1000px;
  min-width: 700px;

  margin: 20px auto;
  padding-left: 20px;
}

/* == Mobile == */
@media only screen and (max-width: 768px) {
  nav {
    z-index: 1;
    box-shadow: none;
  }
  
  main {
    position: relative;
    left: -170px;
    width: 100%;
  }

  table {
    width: 100vw;
    max-width: calc(100vw - 400px);
  }
}


/* Table */
table {
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
}

thead {
  background-color: rgb(66, 74, 77);
  color: white;
}

thead, tbody {
  text-align: left;
  padding: 8px;
}

tbody {
  overflow-y:scroll; 
  position:relative;
  padding: 20px;
  width: 80vw;
  height: 80vh;
}

td {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

tr:nth-child(even) {
  background-color: #0000004f
}

/* SRN */
#map {
  height: 90vh;
}

